/*Tmp*/
.bef-checkboxes .form-item{
	display: inline-block;
}
.bef-checkboxes .form-item input{
	padding:  0 !important;
	width: 20px !important;
}

.page-search .listcontent h5 a{
	color: #b4b3b2;
}
.page-search .listcontent h4{
	margin-bottom: 0.5rem;
}

/*Sökresultat ============================== >\*/
/*Filterblocket*/
.searchcolumn .block-title{
	display: block;
	font-size: 1.5rem;
	color: #f77136;
}


/*.searchcolumn h3{
	font-size: 1.5rem;
	color: #f77136;
}*/
.searchcolumn .artsidecontainer li{
	border-bottom: none;
	margin: 0;
}
.searchcolumn .facetapi-checkbox{
	margin-left: 0.4rem;
}
.searchcolumn .facetapi-checkbox{
	margin-bottom: 0;
}

.searchcolumn{
	padding-top: 2.5rem;
}

/*Special kulturkatalogen annons mozaik*/

.underrubrik{
	color: #fff;
	padding-bottom: 0.5rem;
}

.moz-kult-1{
	font-size: 0.8rem;
	color: white;
}
.moz-kult-2{
	font-size: 0.8rem;
	margin-bottom: 1rem;
	color: white;
}

.view-2015-staff .kivlistview .kivlist .columns, 
.view-2015-dokument .kivlistview .kivlist .columns{
    /*float: left !important;*/
    /*min-height: 165px;*/
}
.kivlistview .listheight{
    /*background-color: none !important;*/
    /*min-height: 88px;*/
}
.kivlistview .grey{
    background-color: #5a5958;
    /*min-height: 88px;*/
}
/*Overrides för ett marginalfel som jag inte kan hitta*/
.view .zf-2col-bricks{
	    padding-left: 0.9375rem;
	    padding-right: 0.9375rem;
}


/*Fiterknappar vyer\*/
.views-exposed-form .views-exposed-widget{
	/*padding-bottom: 0;*/
	/*padding-top: 0;*/
}
.views-submit-button, .views-reset-button, .views-widget-filter-title{
	/*margin-top: 0.5rem;*/
}

/*Denna borde vara generell, formulärknapp */


/*Tom balk\*/

/*.tomBalk{
	background: #000;
	width: 100%;
	height: 1.5rem;
}*/
/*Termsida för område*/
/*Bakgrundsfärger\*/

.color-top-1{
	background: #000;
}
.color-top-2{
	background: #333;
}
.color-top-3{
	background: green;
}

.ajimage-omrade-nod{
   
    max-height: 400px;
    min-height: 100%;
    overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%;
}
.ajimage-omrade-nod img{
	/*min-width: 970px;*/
	min-height: 200px;
	    object-fit: none;
	    object-position: center center;	
}

.top-bild-wrapper{
	margin-bottom: -100px;
}
/*Calender*/

/*Nytt*/
.calendar-calendar .month-view .full tr.single-day .no-entry, 
.calendar-calendar .month-view .full tr.single-day .no-entry .inner{
	line-height: 0;
	height:  0 !important;
}
.calendar-calendar .month-view .full td.date-box .inner, 
.calendar-calendar .week-view .full td.date-box .inner {
    
    line-height: 40px;
    
}


/*end nytt\*/

/*Kollas vad som behövs här*/

.calender-row{
	background: #ebeae9;
	padding-bottom: 2rem;
	padding-top: 1rem;
	margin-bottom: 1rem;
}

.mini-calendar table tr th, 
.mini-calendar table tr td {
	background: #b2a16c;
	border: 2px solid #ebeae9;
	text-align: center;
	color: #000;
	
}
.mini-calendar table tr td a{
	color: #fff;
}
.mini-calendar table tr td .inner{
	font-size: 1.2rem;
	font-weight: 200;
}
.mini-calendar table tr .single-day{
	height: 0;
	display: none;
}
.mini-calendar .date-nav-wrapper .date-heading h3{
	text-transform: uppercase;
	font-size: 1.2rem;
}

.calendar-calendar .month-view .full tr td.single-day.today {
    border: none;
    background: #b2a16c;
}
.calendar-calendar .month-view .full td.single-day .calendar-empty, 
.calendar-calendar .month-view .full td.single-day.empty, 
.calendar-calendar .month-view .full td.date-box.empty {
    background: #ebeae9;
    border: none;
}
.calendar-calendar .month-view .full td.single-day .calendar-empty .inner, 
.calendar-calendar .month-view .full td.single-day.empty .inner, 
.calendar-calendar .month-view .full td.date-box.empty .inner{
    display: none;
}

.calendar-calendar .month-view .full td.date-box.today{
	background: #b2a16c;
	border: 2px solid #ebeae9;
	vertical-align: middle;
}
.calendar-calendar .month-view .full td.date-box.today .inner{
	border-radius: 1rem;
	background: white;
	color: black;
	width: 1.7rem;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.7rem;
	
}
.calendar-calendar th.days{
	background: #ebeae9;
	border: none;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 0.4rem;
	font-size: 0.7rem;
}

.mini-calendar .date-nav-wrapper .date-next a,
.mini-calendar .date-nav-wrapper .date-prev a{
	margin: 0;
}
.mini-calendar .date-nav-wrapper .date-nav {
	margin: 0;
	height: 50px;
}
.mini-calendar .date-nav-wrapper .date-prev{
	left: inherit;
	text-align: left;
	background: none;
	right: inherit;
	left: 0;
	padding: 0;
	margin: 0.3rem 0 0 2rem;
}
.mini-calendar .date-nav-wrapper .date-next{
	background: none;
	padding: 0;
	margin: 0.3rem 2rem 0 0;
}
.mini-calendar .pager img{
	width: 40%;
}

/*Kalender lizta*/
.columns.datewrapper{
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
.datewrapper .day{
	font-size: 1.5rem;
	line-height: 1.8rem;
	/*text-align: center;*/
	margin-top: 0.5rem;

}
.view-id-2015_kalender_lista h3 .date-display-single{
	text-transform: uppercase;
	font-size: 1.8rem;
}
.kivlistview h5.kalender-lista-date {
	color: #fff;
	font-size: 0.9rem;
}

/*Produktioner*/
/*.node-type-produktion .label-inline,
.node-type-produktion .label-above{
	font-weight: bold;
}*/
.artsidecontainer .label-inline{
	float: left;
	/*display: inline-block;*/
	font-weight: bold;
}
.artsidecontainer p{
	margin:  0;
	padding: 0;
}
.artsidecontainer .field{
	margin-bottom: 0.2rem;
}
.artsidecontainer .fields .label-inline,
.artsidecontainer .fields .label-above{
	font-weight: bold;
	/*margin-top: 0.15rem;*/
}

.artsidecontainer .evenemang_wrapper{
	margin-bottom: 1rem;
}

.node-type-produktion .artsidecontainer img{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.right_white_container{
	margin-bottom: 2rem;
}

.right_white_container .button.expand{
	margin: 0;
}

.artsidecontainer{
	margin-bottom: 2rem;
	font-size: 0.9rem;
}

/* Kulturkatalogen */


/*.kulturkatalog-separator{
	margin-bottom: 1.3rem;
	font-size: 0.9rem;
}
.kulturkatalog-separator p{
	margin-bottom: 0;
}*/
.kk-button a.button{
	width: 100%;
	color:  #fff;
}
.kk-button a{
	background-color: #43AC6A;
	/*padding: 0.2rem 1rem;*/
	color:  #fff;
	margin: 0 !important;
}
kk-button a:hover{
	background-color: #43AC6A;
}
/*Tillbakaknapp*/
a.btn-back{
	margin-left: 0 !important;
}
a.btn-back img{
	width: 22px;
}
/*Paginering*/
ul.pagination {
	padding-top: 2rem;
}


/*Döljer anmälningsknappen i Mozaikvyn\*/
.mozaikitems .form{
	display: none;
}

/*Rubrik på noder*/ 

.atikelMenuBlock #contentHeader h1 {
    color: #f85014 !important;
    text-transform: uppercase !important;
}
/*Webb TV*/

.webbtv p{
	margin: 0;
	line-height: 0; 
}
.webbtv p iframe{}
.page-webb-tv{
	/*background: #1a1a1a;*/
}

.view-id-2015_webbtv .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.view-id-2015_webbtv .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



.kivisotope-webbtv .item{
	width: 330px;
}
/*Frontpage*/
.textcenter h1{
	margin-top: 0;
}
.ajimage{
	background: none !important;
}
.ajspalter{
	text-align: left !important;
}

.view-frontpage .textcolor-1 h1{
	color: black;
}
.view-frontpage .textcolor-2 h1{
	color: white;
}
.view-frontpage .textcolor-3 h1{
	color: orange;
}
.view-frontpage .textcolor-4 h1{
	color: green;
}
/*.view-frontpage .bigImage-content .frontpagebody p{
text-align: center;
color: #fff;
	
}*/


/*Listvyer*/
/*.n0 a{
	background-color: white;
	padding: 4px;
}
.n1 a{
	background-color: orange;
	padding: 4px;
}
.n2 a{
	background-color: cyan;
	padding: 4px;
}
.n3 a{
	background-color: green;
	padding: 4px;
}*/
.listcontent .small-2{
	/*display: block;*/
	/*width: 180px;*/
	max-width: 200px;
}

/*Personallistvy*/
.working-title{
	/*color: orange;*/
}

/*Kommentar

Skulle vilja ta bort (position: relative) på kivisotope
Då blir pagerna inte i sidfoten
*/





/* ==================================== Overrides =====================================*/



/*DIverse för att få fram Titel på vissa sidor
Dettta kan nog tas bort i template senare
*/
.l-main {
    display: inherit !important;
}
.breadcrumbs{
	/*display: none !important;*/
}

.footer .block-title {
    display: inherit !important;
}


.columns.no-padding-left{
	padding-left: 0;
}

/*Tillägg MOZAIK*/
.evenemang_date span{
	color: #fff;
	line-height: 2.4rem;
}
.mozaikitems .evenemang_mozaik h5{
	padding-top: 0;
	margin-top: 0;
}


/* =================== Flexslider på första sidan ============================*/


// Custom variables\
//$flexsliderheight-large: 650px;
//$flexsliderheight-medium: 580px;
//$flexsliderheight-small: 400px;


//$body-font-color: #666;

.flexslider {
	margin-bottom: 0;
}
/*
Bollarna om de behövs

.flex-control-nav {
    bottom: 10px;
    z-index: 100;
}
.flex-control-paging li a {
    background: none 0 0 repeat scroll rgba(255, 255, 255, 0.9);
    box-shadow: none;
}
.flex-control-paging li a:hover {
    background: orange;
}
.flex-control-paging li a.flex-active {
    background: #000 none repeat scroll 0 0;  
}*/

/*bläddringspilar\*/
.flex-direction-nav a.flex-next::before {
    /*content: none;*/
    
}
.flex-direction-nav a::before,
.flex-direction-nav a::after {
    color: rgba(0, 0, 0, 0.8);
    content: none !important;
    display: inline-block;
    font-family: Arial;
    
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

ul.flex-direction-nav a{
	font-size: 3rem;
	color: #fff;
	overflow: visible;
	padding: 0;
	margin: 0;
	line-height: 3rem;
	
	width: 56px;
	height: 56px;
	top: 43%;
}
a.flex-next{
	background: url("../images/PilMeny28.png") no-repeat center center;
}
a.flex-prev{
	background: url("../images/PilMenyV28.png") no-repeat center center;
}

.flexslider{
	border:  0;
}
.flex-slider{
	overflow: hidden;
	position: relative;
	width: 100%;
	border: 0;
}
.flex-slider .flex-big-image{
	background-size: cover;
	background-position: center top;
	width: 100%;
}

.flex-slider .extra-wrapper{
	position: absolute;
	z-index: 1111;
	top: 0;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.flex-slider .flex-text{
	position: absolute;
	bottom: 3.5rem;
	color: #fff;
	width: 100%;
	
	
}
.flex-slider .flex-text p{
	font-family: Arial, serif;
	font-weight: 400;
	margin-bottom: 0;
	text-shadow: 1px 1px 4px #000;
}


.flexslider .flex-direction-nav a{
    display: block;
}
@media only screen and (min-width: 64.063em){ 
	.flex-slider .flex-big-image{
		height:  580px;
	}
	.flex-control-nav{
		/*display:  none;*/
	}
	
	.flex-slider .extra-wrapper{
		min-height: 580px;
		height:auto !important; 
	}
	
	.flex-slider .flex-text p{
		font-size: 2.6rem;
		line-height: 3.5rem;
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	
	.flex-slider .flex-big-image{
		height:  480px;
	}
	.flex-control-nav{
		/*display:  none;*/
	}
	
	.flex-slider .extra-wrapper{
		min-height: 480px;
		
	}
	.flex-slider .flex-text p{
		font-size: 1.8rem;
		line-height: 2.5rem;
	}
}
@media only screen and (max-width: 40em) { 
	.flex-slider .flex-big-image{
		height:  400px;
	}
	
	
	.flex-direction-nav{
		display: none;	
	}
	.flex-slider .extra-wrapper{
		min-height: 400px;
		height:auto !important; 
		height: 400px;
	}
	.flex-slider .flex-text{
		padding: 1.5rem 1.5rem 0.4rem;
		bottom: 1.5rem !important;
	}
	.flex-slider .flex-text p{
		font-size: 1.5rem;
		line-height: 1.8rem;
	}
}

/*Temp tabort\*/

.page-frontpage-mozaik .block-title {
    display: inherit !important;
    /*color: #fff;*/
    /*font-size: 0;*/
}
