/* version v0.0.2 */
@import 'devScss/foundation/_settings';
@import 'foundation';
@import 'devScss/_kivmixin';
@import 'devScss/Komponenter/_tab-bar';
@import 'devScss/foundation/_offcanvas';
@import 'devScss/foundation/_forms';
@import 'devScss/Komponenter/_mozaikitem';
@import 'devScss/base/_submenubase';
@import 'devScss/Komponenter/_mainMenu';
@import 'devScss/Komponenter/_listview';
@import 'devScss/Komponenter/_omoss';
@import 'devScss/Komponenter/_footer';
@import 'devScss/Komponenter/_breadcrumb';
@import 'devScss/Komponenter/_kalender';
@import 'devScss/Komponenter/_artikelmain';
@import 'devScss/Komponenter/_artikelmenu';
@import 'devScss/Komponenter/_artikelextra';
@import 'devScss/Komponenter/_startsida';
// Behold, here are all the Foundation components.

/*@import 'foundation/components/grid';
@import 'foundation/components/accordion';
@import 'foundation/components/alert-boxes';
@import 'foundation/components/block-grid';
@import 'foundation/components/breadcrumbs';
@import 'foundation/components/button-groups';
@import 'foundation/components/buttons';
@import 'foundation/components/clearing';
@import 'foundation/components/dropdown';
@import 'foundation/components/dropdown-buttons';
@import 'foundation/components/flex-video';
@import 'foundation/components/forms';
@import 'foundation/components/icon-bar';
@import 'foundation/components/inline-lists';
@import 'foundation/components/joyride';
@import 'foundation/components/keystrokes';
@import 'foundation/components/labels';
@import 'foundation/components/magellan';
@import 'foundation/components/orbit';
@import 'foundation/components/pagination';
@import 'foundation/components/panels';
@import 'foundation/components/pricing-tables';
@import 'foundation/components/progress-bars';
@import 'foundation/components/range-slider';
@import 'foundation/components/reveal';
@import 'foundation/components/side-nav';
@import 'foundation/components/split-buttons';
@import 'foundation/components/sub-nav';
@import 'foundation/components/switches';
@import 'foundation/components/tables';
@import 'foundation/components/tabs';
@import 'foundation/components/thumbs';
@import 'foundation/components/tooltips';
@import 'foundation/components/top-bar';
@import 'foundation/components/type';
//@import 'foundation/components/offcanvas';
@import 'foundation/components/visibility';
  */
  @import 'devScss/foundation/_type';
.size-21 {
    font-size: 1.2rem;
}
.size-24 {
    font-size: 1.4rem;
}
#contentHeader{
    h1{
        text-transform: uppercase;
        color:$gold; 
        margin-bottom:0px;       
    }
    a{
        text-transform: uppercase;
    }
}
.omossspace{
    h1{
        text-transform: uppercase;
        color:$orange; 
        margin-bottom:0px;       
    }
}

.row {
  max-width: 1200px;
}


body {
  height: auto;
}

// Fixed 300px

@media #{$small-up} {
    .small-min-300.column { @include min(300); 
                                             background-color:#333;
                     }
}
@media #{$medium-up} {
  .medium-min-300.column { @include min(350); 
                           background-color:$smoke;
  }
  .large-min-300.column { @include min(270); 
                          background-color:#666;
  }
}
@media #{$large-up} {  
}
//$font-path: "/public/fonts/foundation-icons/foundation-icons";
$font-path: "/sites/all/themes/kivnew/fonts/foundation-icons/foundation-icons";
@font-face {
  font-family: "foundation-icons";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import "/sites/all/themes/kivnew/fonts/foundation-icons/foundation-icons.css";

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}
.scroll-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 1.5rem;
    right: 1rem;
    display: none;
    text-align:center;
    border-radius:4px;
    background-color: $oil;
    i{
        font-size:1.7rem;
        padding:0px;
        margin:0px;
        color:$white;
    }
    &:hover{
        background-color: $aluminum;
        color:$oil;
    }
}
.open{font-size:1.2rem;}
.move-right .exit-off-canvas {
    transition: background 300ms ease;
    background: rgba(000, 000, 000, 0.8);
    &:hover{
        background: rgba(000, 000, 000, 0.8);
    }
}
.item img{
    width:100%;
}


.loader {
  display: none;
  position: fixed;
  left: 20%;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
position: absolute;
  top:10%;
  left: 50%;
  margin-left: -100px; }


// drupal style fix
.block-title{ display:none;}

.views-field-field-category, .views-label-field-underomr-de{display:none;}
#drpFilter, #drpSortering{  
   background: url(/sites/all/themes/kivnew/images/drpicon.png) no-repeat right $gold;
    border-radius:0px 10px 10px 0px;
   border: 1px solid $gold;  
   background-size: 1.8rem 1.8rem;
   color:$white;
   option {    
        background: $white;
        color:$gold;
        padding: 0.3rem 0.2rem;
        text-shadow:0px;
        border:0px;
    &:checked { box-shadow: 0 0 10px 100px $gold inset; }
    }
}
#filtersortering{
     margin-right:0.5rem;
a{ 
    img{width:44px; height:44px;}
    }
} 
#contentfilterblock{line-height:2.5rem;}

#debug h1.thin{
font-weight:100 !important;;
    }
  #debug h1.extralight{font-weight:200 !important;}
   #debug h1.light{font-weight:300 !important;}
  #debug h1.regular{font-weight:400 !important;}
    #debug h1.simibold{font-weight:600 !important;}
    

 