/* Frontpage*/
.firstpagerow{
    //margin-bottom:1rem; 
}

.textleft{text-align:left;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.bgWhitetxtBlack{
    h1,h2,h3,h4,p{
        color: $black; 
    }
}
.bgBlacktxtWhite{
    h1,h2,h3,h4,p{
        color: $white; 
    }
}
.bgtransparenttxtWhite{
    h1,h2,h3,h4,p{
        color: $white;                 
    }
}
.bgtxtTurkos{
    h1,h2,h3,h4{
        color: #476a8b;                 
    }
}

.hovereffect{
    &:hover{ opacity: .7;
        filter: alpha(opacity=70); /* For IE8 and earlier */
        transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    }
    //
}


.ajspalter{
     padding-top:3%;
     padding-bottom:3%;
     margin-bottom:3rem;
     h1{
         @media #{$small-up} {font-size:$h2-font-size-Startpage; }
         @media #{$medium-up} {font-size:$h1-font-size-Startpage; }        
         text-transform:uppercase;
         margin-bottom:2rem;
    }
    h2{
         @media #{$small-up} {font-size: $h3-font-size-Spalter-Startpage; }
         @media #{$medium-up} {font-size:$h2-font-size-Spalter-Startpage; }   
    }
    article {         
        @media #{$small-up} { columns: 1; }
        @media #{$medium-up} { columns: 3 200px;}
        text-align:left;
        color:$black;
    }
 }

.ajimage { 
    position: relative; 
    width: 100%; /* for IE 6 */
    //max-height:400px;
   min-height:100%;
    //overflow:hidden;
    //margin-bottom:1.0rem;
    background:#000;
    text-align: center;
    img{       
        object-fit: scale-down; /* Do not scale the image */
        object-position: center; /* Center the image within the element */  
        min-height: 200px;
    }
   
    .textboxcontainer{ 
        position: absolute;         
        top: 50%;
        transform: translateY(-50%);
        left: 0; 
        width: 100%; 
        line-height:3.6rem;                
        letter-spacing: -1px;            
        padding: 10px; 

        h1{
            @media #{$small-up} {font-size:$h2-font-size-Startpage; }
            @media #{$medium-up} {font-size:$h1-font-size-Startpage; }        
            text-transform:uppercase;             
        }
        
        &.hrub{font-size:2rem !important;}
        &.urub{font-size:1.8rem !important;}
        &.utxtrub{
            font-size:1.0rem !important;line-height:2.2rem !important; margin-top:0.5rem;
            .spacer {
                display:inline;
                padding:0 5px;
                line-height:2.2rem !important;
                background-color:transparent;
            }         
        }      
    }  
} //.ajimage END
  
  .ajcolmargin{
      @media #{$small-up} {display:none;}
      @media #{$large-up} {display:block;}
  }
  .anim-slider {

   .anim-slide {
      background:#000; 
      background-repeat:no-repeat !important;
      background-position:center;
      background-size:cover !important;
      a {
            position:absolute;
            top:0;
            left:0;
            width:100%;
        }

    }     
    .slide1{
        a{
            padding-left:10%;
        }
         h1{
            color:$white !important;
            top: 8rem;
            text-align:left;
            
            width: 100%;
        }
        h2{
            color:$white !important;
            top:5rem;
            width: 100%;
             text-align:left;
        }
    }
    .slide2{
       
        h1{
            color:$white !important;
            top: 8rem;
            width: 100%;
        }
        h2{
            color:$white !important;
            top:5rem;
            width: 100%;
        }
         
    }
    .slide3{
         h1{
            color:$white !important;
            top: 8rem;
            width: 100%;
        }
        h2{
            color:$white !important;
            top:5rem;
            width: 100%;
        }
    }
  }


 body { margin: 0; 
  font-family:Helvetica, Roboto, Arial, sans-serif;
}
.itemcontainer { 
  padding: .5vw;
  
  font-size:5vw;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: center;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;  
  background-size: cover;
  background-repeat: no-repeat;

}
.itembox{
  width:100px!important;
   display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: center;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;

}
.itemcontainer div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
.itemcontainer div img { 
    
   
  height: 20vw; 
  _max-height:400px;
  transform: scale(1.0,1.0); 
  object-fit: scale-down;
}
.itembox div{
  width:40vw;
}
@media screen and (max-width: 400px) {
  .itemcontainer div { margin: 0; }
  .itemcontainer { padding: 0; }
  
}
.itemcontainer h2{padding:0; margin:0;} 
.itemcontainer h3{ padding:0; margin:0;
}
.gradientgreen{
   background: linear-gradient(to right, #63674e, #7c805d); /* Standard syntax */
  font-size:3vw!important;
}
.gradientgreen .textbox{
  padding-top:1vw !important;
  padding-right:4vw !important;
  
}
.gradientgreen h2{
    font-size:6vw;
    color:#fff !important;
     line-height:7.2vw;
}
.gradientgreen h3{
    font-size:3vw;
    color:#fff !important;
}

.gradientYellow{
   background: linear-gradient(to right, #d0b75d, #e8dcb2); /* Standard syntax */
  font-size:3vw;
}
.gradientYellow .textbox{
  padding-top:2vw;
  padding-left:0;
  color:#000;
}
.gradientYellow .imgbox{
    text-align:right;
}
.gradientYellow h2{
    font-size:4vw;
}
.gradientYellow h3{
    font-size:2vw;
}
/*<img src='http://kivdev.monoclick-dev.se/sites/default/files/bilder/frontpage/hatt.jpg'>
<img src='http://kivdev.monoclick-dev.se/sites/default/files/bilder/frontpage/bibliotek.jpg'>
<img src="http://www.kulturivast.se/sites/default/files/styles/full-image-950x400px/public/banner/mik-2016-anmalan-950x400.jpg?itok=v7navIZJ" />
<img src="http://kivdev.monoclick-dev.se/sites/default/files/bilder/frontpage/jazz.jpg" />*/


