
.artikelMainContainer{
    h1,h2,h3{
        color:$orange;
    }
    .level1{
        padding-bottom:3rem;                  
    }
    
    .artmaincontent{       
        @media #{$medium-up} {padding-right: 5rem; }
        @media #{$large-up} {padding-right: 10rem; }
    }
    .success{ width:100%;}
    .row{
        &:first-child{
            margin-bottom:0rem;
        }
    }
    .artikeltopImage{
        //display:none;
        margin-bottom:-7.5rem; //obs hänger ihop med _artikelmenu.scss .atikelMenuBlock margin-top
        max-height:300px;
        overflow:hidden;
    }   
    .artikelwrapper {
        padding-top:2.5rem;
        .medium-4 {       
            background-color:$beige;                  
        } 
        
    }
    .artikelbild{
        margin:1.5rem 0rem;
    }
   
}
.faktabox{
    background-color: $beige;
    h1,h2,h3{
        color:$orange;
    }
}
.artsidecontainer{
    display:block;
	padding:1rem 2rem 2rem;
    //background-color:$white;  
    ul{
        list-style:none;
        margin-left:0px;
    }
    li{
        list-style:none;
        border-bottom:2px solid $smoke;
        margin-bottom:0.5rem;
        padding-bottom:0.5rem;
    }
    h2{        
        border-bottom:2px solid $smoke;                
    }
   
    & .kontaktkort{
        font-size:0.9rem;
         & .namn{
            font-weight:bold;
             line-height:1.1rem;
             text-transform: uppercase;
        }
        & .avd{
            color:$gold;
            margin-bottom:0.4rem;
            line-height:1.2rem;
        }
       & .artikelkontatkort{
            font-weight:bold;
             line-height:1.1rem;
             text-transform: uppercase;
        }
        & .artikelFakta{
            color:$gold;
            margin-bottom:0.4rem;
            line-height:1.2rem;
        }
       
    }
     .success{ width:100%;}
    
}

.l-main{display:none;} // ta bort denna sedan !!!
.view-2015-supporting-articles{
        .level2{
    	        padding-top:3rem;  
                padding-bottom:3rem;        
                &:nth-child(odd){
                    background-color:$beige;
                    .faktabox{
                        background-color: $white;
                    }
                }
            }
       
    }