
#filtersortering{
     //margin-right:0.5rem;
    a{ 
        img{
             @media #{$medium-up} {
                width:36px; height:36px;
             }     
             @media #{$small-only} {
                 width:25px; height:25px;
             }     

        }
    }
} 
#contentfilterblock{
    line-height:2.5rem;
    margin-bottom: 0.5rem;
}


#edit-field-production-tid{
     margin-right:0.5rem;
}

.form-item.form-type-select{
    line-height:2.5rem;
}
#contentfilterblock select{
   height: 1.8em;
  padding: 0.05em;
  padding-left:0.25rem;
  max-width: 108px;
  color:$black;
  font-size:0.85rem;
  
 }

/*#drpFilter, #drpSortering{  
   background: url(/sites/all/themes/kivnew/images/drpicon.png) no-repeat right $gold;
    border-radius:0px 10px 10px 0px;
   border: 1px solid $gold;  
   background-size: 1.8rem 1.8rem;
   color:$white;
   option {    
        background: $white;
        color:$gold;
        padding: 0.3rem 0.2rem;
        text-shadow:0px;
        border:0px;
    &:checked { box-shadow: 0 0 10px 100px $gold inset; }
    }
}
#filtersortering{
     margin-right:0.5rem;
a{ 
    img{width:44px; height:44px;}
    }
} 
#contentfilterblock{line-height:2.5rem;}*/

