.kivlistview{
    //background-color: $vapor;
    padding: 0px 1em; 
    margin-bottom:1.5rem;
   
    //border-bottom:1px solid $gainsboro;
    i{
        font-size:2.3rem;
        color:$gold;
    }
     h4{        
        margin-top:0px;
        font-size:1.2rem;
        //font-weight:normal;
        text-transform:none;
    }
    h5{
        font-size:1.2rem;
        margin-bottom:0px;
        color:$lightmediumgrey;
        //font-weight:normal;
        padding-top:0.6rem;
        text-transform:none;
    }
    .pluss{
        padding-top:0.6rem;
        padding-bottom:0rem;
        text-align:right;
    }
    .open {
        img{
            max-height:30px;
        }
    }
    .closed {
       img{
            max-height:30px;
        }
    }
    .titlebox{padding-top:0.6rem;padding-bottom:0rem;}
    .imgplaceholder{
       // margin-top:0.5rem;
        padding-right:0px;
        padding-left:0px;
         //margin-bottom:0.5rem;
         //width:270px;
         img{ width: 100%;}
           
    } 
    
    .ingresstext{
        display:hidden;
    }
    
    .crop-height {      
          @media #{$small-up} { 
            max-height: 100%;	     
	      }    
          @media #{$medium-up} { 
            max-height: 7.3rem;
	        overflow: hidden; 
	      } 
	      @media #{$large-up} { 
            max-height: 4.3rem;
	        overflow: hidden; 
	      } 
    }
    .noimage{background-color:$gold; width:100%; height:5rem;}
    img{
        .scale {
            /* corrects small inline gap at bottom of containing div */
	        display: block;            
	        /* just in case, to force correct aspect ratio */
	        height: auto !important;
            display: block; /* corrects small inline gap at bottom of containing div */
            width: 100%; /* corrects obscure Firefox bug */
            max-width: 100%;
            /* just in case, to force correct aspect ratio */
            height: auto !important;
            /*width: auto\9; 
            /* ie8+9 - use modernizr instead of this \9 hack */
            /* lt ie8 */
            -ms-interpolation-mode: bicubic;
	        /* optionally force a minimum size if img src size is known: */
	        /* max-height: 50px;  max-height of .crop-height */
	        /* min-width: 480px; /* proportional to above */ 
        }
        .flip {
	        /* actually, aligns left within .cropheight */
          float: right;
          margin-top:-24px;
	        /* clearfix after? */
        }
        
    }
    .kivlist {
        background-color:$darkgrey; 
        margin-bottom:0.5rem;
        margin-left:0px;
        margin-right:0px;
        &:hover{
            background-color:#eee;
        }
        .showingresstext{float:right; margin-right: 0.3rem;}
        .columns{
            float:left !important;
        }
    }
    .flip {
	    /*-webkit-transform: rotate(180deg);
	    -moz-transform:    rotate(180deg);
	    -ms-transform:     rotate(180deg);
	    -o-transform:      rotate(180deg);*/
	    transform:         rotate(180deg);
	    /* needed? not sure */
	    zoom: 1; 
    }     

    .apsisboxmain{
        padding-top:0.2rem;
        
        a{
            margin-bottom:0px;
            &:empty {
                display: none;
            }
         }       
    }

    .apsisbtnbox {        
         @extend .apsisboxmain;
    }

    .apsisbtnboxList {  
        @extend .apsisboxmain;
        @media #{$small-up} { 
             margin-bottom:2px;	     
	    }    
        @media #{$large-up} { 
            position:absolute;
            right:0px; 
            top:1.1rem;
	    } 
    }

   .button.expand, .button.expand{
        padding:0.2rem;
    }
}
.listcontent h5 ,.listcontent h4{margin:0px;}