.mozaikitems {
    background-color: $vapor;
    padding: 0px 1em; 
    margin-bottom:1.5rem;
    border-bottom:1px solid $gainsboro;   
    i{
        font-size:2.3rem;
         color:$gold;
    }
    h4{        
        margin-top:0px;
         font-size:1rem;
         font-weight:normal;
         text-transform:uppercase;
    }
    h5{
        font-size:1rem;
        margin-bottom:0px;
        color:$gold;
        font-weight:normal;
        padding-top:0.6rem;
         text-transform:uppercase;
    }
    
}

.ingresstext{
    display:none;
}
.lasMerOmOssLink{
@media #{$small-only} {
        font-size:0.7em;
        line-height:12px;
    }
}
.item{
        max-width:400px;
    }
  

@media only screen and (min-width: 50.063em) and (max-width: 64em) { 
  .wrapper{
    position: relative;	
    width: 80%;	
    height: 100%;	
    margin: 0px auto;	  
  }
} /* min-width 641px, medium screens */
