.mosaikblockheader{margin-top:1.5rem;}

.mozaikitems {
    background-color: $beigelight;
    padding: 0px 1em; 
    padding-bottom:2rem;
    margin-bottom:1.5rem;
    border-bottom:1px solid $beige;   
    i{
        font-size:2.3rem;
         color:$gold;
    }
    h4{        
        margin-top:0px;
         font-size:1.3rem;
         font-weight:300;
         text-transform:none;
    }
    h5{
        font-size:1.3rem;
        margin-bottom:0px;
        color:$gold;
        font-weight:300;
        padding-top:0.6rem;
        text-transform:none;
    }
    .showingresstext {width:30px !important; height:30px; float:right;margin-right:-0.5rem;}
   
}

.ingresstext{
    display:none;
}
.lasMerOmOssLink{
@media #{$small-only} {
        font-size:0.7em;
        line-height:12px;
    }
}
.item{
       width:300px;
    }
  

@media only screen and (min-width: 50.063em) and (max-width: 64em) { 
  .wrapper{
    position: relative;	
    width: 100%;	
    height: 100%;	
    margin: 0px auto;	  
  }
} /* min-width 641px, medium screens */
/*#thomastest{
    @media #{$small-up} { }
@media #{$small-only} { background-color:#c1aa6c;} //guld

@media #{$medium-up} {}
@media #{$medium-only} { background-color:#136c16;} //grön

@media #{$large-up} { }
@media #{$large-only} { background-color:#333; } //mörkgrå

@media #{$xlarge-up} { }
@media #{$xlarge-only} { background-color:#999; } //ljusgrå

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { background-color:#334455; }

}*/
