
.omossContentBox{
    display:none;
    background-color:$smoke;
    padding:1.5rem 0rem;
	margin-top:.5rem;
     h2{
        color: $gold;
        border-bottom:2px solid $smoke;
        text-transform: uppercase;
    }
}
#omossKontaktContent{  
    display:block;
	padding: 1rem 2rem;
    background-color:#fff;
    ul{
        list-style:none;
    }
    li{
        list-style:none;
        border-bottom:2px solid $smoke;
        margin-bottom:0.5rem;
        padding-bottom:0.5rem;
    }
    h2{        
        border-bottom:2px solid $smoke;        
    }
    & .kontaktkort{
        font-size:0.9rem;
       & .namn{
            font-weight:bold;
             line-height:1.1rem;
             text-transform: uppercase;
        }
        & .avd{
            color:$gold;
            margin-bottom:0.4rem;
            line-height:1.2rem;
        }
       & .ftn{
             font-weight:bold;
             font-size:0.8rem;
             line-height:1.0rem;
        }
       & .epost{
            font-weight:bold;
            line-height:1.0rem;
        }
    }

}