.searchMainWrapper{   
    background-color:$ingressbggrey;
    display: flex;
    align-items: center;
    min-height: 200px;
        width: 100%;
    @media #{$small-only}{
        min-height: 150px;
    } 
    .searchmainContent{
        input {
            float: left;
        }
        .searchinputbox {
            height: 50px;
            width: 90%;
            font-size:1.5rem;
            border:0px;
            @media #{$small-only}{
                width: 75%;
             }
        }
        .searchButton {
            height: 50px;
           float:right;
            //min-width: 19%;
            background-color:transparent;
            padding:0px;
            margin:0px;
        }
    } 
}

