
.zf-2col-stacked{
    .color-top-black{
	    background-color: #000;
    }
    .color-top-white{
        background-color: #fff;
    }
    .color-top-grey333{
        background-color: #333;
    }
     .color-top-grey666{
        background-color: #666;
    }
}